In [14]:
import mysql.connector


mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94")
  
mycursor = mydb.cursor()
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000027962AA3648>

In [26]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
  database="product_cooldrink"
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000027962CE2B48>

In [33]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
)
mycursor = mydb.cursor()

sql = "SELECT * FROM product_cooldrink.`product_cooldrinks - sheet1`;"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Coke', '2L')
(2, 'Fanta', '2L')
(3, 'Sprite', '1,5 L')
(4, 'Pepsi', '1,5L')

In [36]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
)
mycursor = mydb.cursor()

sql = "SELECT * FROM products_fruits.`product_fruit - sheet1`;"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Pear', '200g')
(2, 'Apple', '200g')
(3, 'Orange', '200g')
(4, 'Banana', '200g')

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
)
mycursor = mydb.cursor()

sql = "SELECT * FROM product_meat.`product_meat - sheet1`;"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(0, 'Beef', '5kg')
(1, 'Chicken', '5kg')
(2, 'Sausage', '3kg')

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
)
mycursor = mydb.cursor()

sql = "SELECT * FROM product_cupcakes.`product_cupcakes - sheet1`;"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Vanailla', '500g')
(2, 'Chocolate', '500g')
(3, 'Banana', '500g')

In [27]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
)
mycursor = mydb.cursor()

sql = "SELECT * FROM product_yogurt.`product_yogurts - sheet1`;"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Banana', '250g')
(2, 'Chocolate', '250g')
(3, 'Strawbery Fruit', '250g')

In [35]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
)
mycursor = mydb.cursor()

sql = "SELECT * FROM product_veggies.`product_veggies - sheet1`;"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Carrot', '3kg')
(2, 'Onions', '3kg')
(3, 'Tomatos', '1kg')

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
)
mycursor = mydb.cursor()

sql = "SELECT * FROM product_pies.`product_pies - sheet1`;"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Pepper Steak', '50g')
(2, 'Chicken', '50g')
(3, 'Beef', '50g')

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
)
mycursor = mydb.cursor()

sql = "SELECT * FROM product_chocolate.`product_chocolates - sheet1`;"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Cadbury', '50g')
(2, 'Tex', '50g')
(3, 'Kit-Kat', '50g')

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
)
mycursor = mydb.cursor()

sql = "SELECT * FROM product_soup.`product_soup - sheet1`;"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(0, 'Veggie', '10g')
(1, 'Beef Curry', '10g')
(2, 'Mutton', '10g')

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="Zaidn94",
)
mycursor = mydb.cursor()

sql = "SELECT * FROM product_chips.`product_chips - sheet1`;"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Lays', '200g')
(2, 'Fristos', '200g')
(3, 'Doritos', '200g')
(4, 'Simba', '200g')